@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;400;600&display=swap");
/* TODO better font? */


:root {
	--color: #ffffff;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: var(--color);
}

body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background-color: #242424;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.container {
	width: 90vw;
	max-width: 750px;
	height: 30vh;
	border: 3px solid var(--color);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #262626;
	box-shadow: 0 0 10px 1px ;
}

.section {
	width: 100%;
	display: flex;
	justify-content: center;
}

.time {
	font-family: "Martian Mono", monospace;
	font-size: 86px;
	font-weight: 600;
}

.date {
	font-family: "Montserrat";
	gap: 0.5rem;
	font-size: 28px;
}

input[type="color"] {
	border: none;
	background-color: transparent;
}

.colon {
	font-family: monospace;
	opacity: 1;
}


input[type="checkbox"] {
	accent-color: var(--color);
}

.settings {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

}

.am-pm {
	font-size: 42px;
}


